
ui flow proto/Library/

ui flow proto/Logs/

.DS_Store

apps/ui testbed/Library/

apps/ui testbed/.vs/

apps/ui testbed/builds/

apps/ui testbed/Logs/

apps/ui testbed/obj/

apps/ui testbed/Temp/

apps/MC Testbed/.idea/

apps/MC Testbed/Test00/bin/

apps/MC Testbed/Test00/obj/

apps/ui testbed/.idea/

apps/cordova-01/.idea/

apps/cordova-01/

apps/video player testbed/Library/

apps/video player testbed/Logs/

apps/video player testbed/Packages/

apps/video player testbed/ProjectSettings/

apps/ui testbed/Assembly-CSharp-Editor.csproj

apps/ui testbed/Assembly-CSharp.csproj

apps/ui testbed/ui testbed.sln

apps/howami app/Library/

apps/howami app/builds/

apps/howami app/.idea/

apps/howami app/Logs/

apps/howami app/obj/

apps/howami app/Temp/

*.csproj

apps/howami app/howami app.sln

apps/howami app/ui testbed.sln

apps/howami app/UpgradeLog.htm

apps/howami app/ui testbed.sln.DotSettings.user
